/*BODY*/

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    margin: 0;
}

/*HEADER*/

header {
    margin: 0;
    background: #3a3847;
}

nav img {
    display: flex;
    min-height: 4vh;
    max-height: 6vh;
    padding: 0;
    margin: 0;
}

nav a {
    font-family: 'Lobster', cursive;
    display: flex;
    color: #ffce54;
    font-size: calc(0.4em + 2vw);
    padding: 1vh;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0.2vh;
}

ul a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
    border: solid #3a3847;
    border-width: thin;
}

ul li:hover {
    border-color: #ffce54;
}

/*MAIN*/

h1 {
    text-align: center;
    font-size: calc(1em + 1.5vw);
    color: #e6e9ed;
    background: #3a3847;
    margin: 0;
    padding: 2vw;
}

.flex-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-article img {
    max-width: 50vw;
    max-height: 25vh;
    margin: 0 auto;
}

.flex-article {
    display: grid;
    padding: 1em;
    margin: 1em;
    max-width: 50em;
    border: solid white;
    border-width: thin;
    background: #3a3847;
}

.flex-article:hover {
    border-color: #ffce54;
    transition: 0.6s;
    background-color: #615332;
}

.flex-article a {
    font-family: 'Sirin Stencil', cursive;
    text-align: center;
    text-decoration: none;
    color: #ffce54;
    font-size: calc(1em + 1vw);
    margin: 0;
    padding: 1vw;
}

.flex-article a:hover {
    font-weight: 600;
}

.flex-article p {
    font-size: calc(0.5em + 1.5vw);
    text-align: center;
    color: #e6e9ed;
    margin: 0;
    padding: 1vw;
}

.flex-article h3 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: calc(1.5em + 1.5vw);
    color: #ffce54;
    margin: 0;
    padding: 1vw;
}

.flex-article2 {
    display: grid;
    padding: 1em;
    margin: 1em;
    max-width: 111em;
    border: solid white;
    border-width: thin;
    background: #3a3847;
}

.flex-article2 p {
    font-size: calc(0.5em + 1.5vw);
    text-align: center;
    color: #e6e9ed;
    margin: 0;
    padding: 1vw;
}

.flex-article2 h3 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: calc(1.5em + 1.5vw);
    color: #ffce54;
    margin: 0;
    padding: 1vw;
}

.flex-article2 img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    font-size: calc(0.8em + 1.5vw);
    color: white;
    text-align: center;
    padding: 0.5em;
    margin: 0.5vw;
    margin-left: 20vw;
    margin-right: 20vw;
    background: #3a3847;

}

.text {
    font-size: calc(0.5em + 1.5vw);
    padding: 1em;
    margin-left: 20vw;
    margin-right: 20vw;
    border: solid white;
    border-width: thin;
    background-color: #3a3847;
    color: white;

}

.link {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: calc(0.8em + 1.5vw);
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 5vw;
    color: #ffce54;
    padding: 0.5em;
    border: solid white;
    border-width: thin;
    border-color: #3a3847;
}

article>h3 {
    text-align: center;
    font-size: calc(0.4em + 1.5vw);
    color: white;

}

/*FORMS*/

form {
    display:grid;
    margin-left: 20vw;
    margin-right: 20vw;
    color: #ffce54;
    padding: 0.5em;
    border: solid;
    border-width: thin;
    border-color: #3a3847;
    min-height: 50vh;
    background-color: white;
}

#vraag {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: gray;
    padding: 0.5em;
}

form [placeholder] {
  font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: gray;
    padding: 0.5em;
    font-size: calc(0.8em + 1.2vw);
}

label {
    padding: 1vh;
    font-size: calc(0.9em + 1.5vw);
}

input[type=submit] {
    font-size: calc(0.9em + 1.5vw);
    font-family: 'Sirin Stencil', cursive;
    font-weight: 700;
    color:#ffce54;
    background-color: #3a3847;
}

input[type=submit]:hover {
    transition: 0.6s;
    background-color: #615332;
}

html {
    background-image: url("https://images.all-free-download.com/images/graphicthumb/dark_ornate_floral_seamless_pattern_vector_542457.jpg");
    background-repeat: repeat-xy;
}


.show-search {
    margin-top: 2em;
    transition: 0.4s;
}
#sBar {
    display: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: gray;
    padding: 0.5em;
    font-size: calc(0.8em + 1.2vw);
}
